.table100 {
  width: 100%;
}

.timer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

.timer-buttons {
  display: block;
  margin: 0 auto;
  text-align: center;
  a {
    margin-right: 1em;
  }
}

.form-check {
  float: left;
}

label {
  // float: right;
  display: inline;
}

.form-check {
  display: inline;
}

.form-button {
  margin-right: 1em;
}

.mainwrapper {
  margin-top: 60px;
}